/*---------- base ---------*/
*{
	padding:0px;
	margin:0px;
    border: none;
	outline: none;
	box-sizing: border-box;
}
body{
	font:12px Microsoft YaHei,微软雅黑,sans-serif,Verdana,Arial,Tahoma;
    overflow: auto;
}
img{
	border:none;
}
input,select,button{
	font:14px;
	vertical-align:middle;
}
.header{
    width: 100%;
    text-align: center;
}
.header .top{
    width: 1000px;
    margin: 20px auto;
}
.header .top::after, .navMenu::after, .header .search::after, .module .search .tags::after, #main .con::after{
    content: '';
    visibility: hidden;
    clear: both;
    height: 0px;
    display: block;
}
.header .title{
    float: left;
    padding-left: 10px;
}
.header .banner1{
    width: 500px;
    height: 60px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
}
.header .banner2{
    width: 200px;
    height: 60px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.module{
    height: 40px;
    background-color: #186ab4;
    /*text-align: left;*/
}
.navMenu{
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}
.navMenu ul{
    list-style: none;
}
.navMenu ul li{
    list-style: none;
    display: inline-block;
    float: left;
    position: relative;
}
.navMenu a{
    color: #fff;
    line-height: 40px;
    text-decoration: none;
    padding: 0 10px;
    display: block;
    font-size: 14px;
}
.navMenu ul li:hover{
    background-color: #87c80c;
}
.header .search{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}
.header .search .tags{
    float: left;
    line-height: 30px;
    font-size: 12px;
}
.header .search .tags span{
    color: red;
    float: left;
    margin: 0 10px 0 0;
}
.header .search .tags a{
    float: left;
    margin: 0 10px;
    color: #000;
}
.header .search .tags a:hover{
    color: #bb4046;
}
.header .search .form{
    float: right;
    /*margin: 0 10px 0 0;*/
}
#search-option{
    display: none;
}
#search-keyword{
    border: solid 1px #186ab4;
    line-height: 30px;
    padding: 0 10px;
    width: 260px;
}
.search .search-submit{
    background-color: #186ab4;
    color: #fff;
    line-height: 30px;
    border: solid 1px #186ab4;
    padding: 0 15px;
    cursor: pointer;
}
#main{
    width: 1000px;
    margin: 0 auto;
}
#main .con{
    margin-right: -8px;
    margin-bottom: 10px;
}
.con .conleft{
    display: inline-block;
    width: 326px;
    float: left;
    margin-right: 10px;
    border: solid 1px rgba(136, 160, 183, 0.5);
}
.con .conleft .contitle{
    background-color: rgba(140, 186, 226, 0.09);
    color: #10326b;
    padding: 6px 5px;
    border-bottom: solid 1px rgba(136, 160, 183, 0.5);
}
.con .conleft .conlist{
    padding: 0 5px;
}
.con .conleft .conlist a{
    color: #10326b;
    display: block;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
}
.con .conleft .conlist a:hover{
    color: #eb6100;
    text-decoration: underline;
}
.conlisttime{
    float: right;
    font-size: 12px;
    line-height: 22px;
}
.contitle .more{
    color: #10326b;
    float: right;
}
.index_myad{
    margin:10px auto;
    clear: both;
}
#footer{
    border-top: solid 1px #ccc;
    text-align: center;
    font-size: 12px;
    color: #333;
}
.footern{
    padding: 10px 0;
}
.toplistm{
    display: none;
    width: 240px;
    position: absolute;
    top: 40px;
    left: -1px;
    border-left: solid 1px #186ab4;
    border-right: solid 1px #186ab4;
    border-bottom: solid 1px #186ab4;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
}
.toplistm a{
    display: inline-block;
    color: #000;
    line-height: 20px;
    margin: 5px;
    font-size: 12px;
    float: left;
    width: 108px;
}
.toplistm a:hover{
    text-decoration: underline;
    color: #87c80c;
}
.place{
    font-size: 12px;
    padding: 0 0 10px 0;
}
.place a{
    color: #000;
    text-decoration: none;
}
.place a:hover{
    text-decoration: underline;
    color: #bb4046;
}
.viewcon{
    font-size: 14px;
}
.viewcon .title{
    text-align: center;
    padding: 20px 0 10px 0;
}
.viewcon .info{
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-bottom: 20px;
}
.viewcon .intro{
    border-left: solid 3px #186ab4;
    padding: 10px;
    background-color: rgba(140, 186, 226, 0.09);
    margin-bottom: 10px; 
}
.viewcon .myad{
    text-align: center;
    padding: 10px;
    display: block;
    clear: both;
}
.viewcon .content{
    margin: 10px 0;
}
.viewcon .art_gxq{
    margin: 10px;
}
.viewcon .art_gxq ul{
    list-style: none;
}
.viewcon .art_gxq ul li{
    line-height: 28px;
}